
.process_address { 
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    border: 1px solid;
    border-radius: 0;
    display: inline-block;
    max-width: 100%;
    padding: 9.5px 16px;
    background-color: #fff;
    border-color: #3665f3;
    padding-bottom: 9px;
    padding-top: 11px;
    font-size: .875rem;
    min-height: 40px;
    min-width: 246px;
    color: #3665f3;
}


.process_address:active{
    background-color:#3665f3;
}

.copy_address{
    -webkit-tap-highlight-color: transparent;
font: inherit;
box-sizing: border-box;
margin: 0;
font-family: inherit;
overflow: visible;
text-transform: none;
transition: all .3s ease 0s!important;
background-image: none!important;
box-shadow: none!important;
position: relative;
outline: 0!important;
margin-bottom: 0;
touch-action: manipulation;
-webkit-appearance: button;
display: inline-block;
vertical-align: middle;
user-select: none;
text-align: left!important;
-webkit-box-align: center;
align-items: center;
border: 1px solid #d8d8d8;
border-radius: 4px;
font-size: .875rem;
line-height: 16px;
min-height: 30px;
padding: .4375rem .9375rem;
background-color: #0a4908;
border-color: rgba(51,51,51,.15);
color: #fff;
font-weight: 600;
cursor: pointer;
white-space: normal;
    }

.copy_address:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


